---
layout: layouts/base.njk
title: 标签
permalink: /tags/index.html
breadcrumbs:
  - title: Notebook
    url: /index.html
  - title: 标签
    url: /tags/index.html
toc:
  - id: all-tags
    text: 全部标签
---
<section id="all-tags" class="tag-index">
  <h2><span class="section-index">1</span><span class="section-title">全部标签</span></h2>
  <div class="tag-cloud">
    {% for tag in notebook.tags %}
      <a href="{{ tag.permalink | relativeUrl(page.url) }}">{{ tag.name }} <span>{{ tag.articles.length }}</span></a>
    {% endfor %}
  </div>
</section>
