---
pagination:
  data: notebook.tags
  size: 1
  alias: tagPage
permalink: "{{ tagPage.permalink }}"
layout: layouts/base.njk
eleventyExcludeFromCollections: true
toc:
  - id: articles
    text: 文章
---
<section id="articles">
  <h2><span class="section-index">1</span><span class="section-title">文章</span></h2>
  <ol class="article-list">
    {% for article in tagPage.articles %}
      <li>
        <a href="{{ article.url | relativeUrl(page.url) }}">{{ article.title }}</a>
        <span>{{ article.category }} · {{ article.date | readableDate }}</span>
      </li>
    {% endfor %}
  </ol>
</section>
